<link rel="stylesheet" href="./newProduct.css">

<div id="new-product">
    <h1>Add New Product</h1>

    <% if(errorMessage){ %>
    <div class="alert alert-danger" role="alert">
        <%= errorMessage %>
    </div>
    <%} %>

    <form action="/" method="POST">
        <label for="productName">Product Name</label>
        <input type="text" id="productName" name="productName">

        <label for="productDesc">Product Description</label>
        <input type="text" id="productDesc" name="productDesc">

        <label for="productPrice">Price</label>
        <input type="text" id="productPrice" name="productPrice">

        <label for="productImage">Image URL</label>
        <input type="text" id="productImage" name="productImage">

        <button type="submit">Add Product</button>
    </form>
</div>
